# 백준 coin0

In [ ]:
n,k=map(int, input().split())
Ai=list()
for _ in range(n):
  Ai.append(int(input()))
count=0
Ai.sort(reverse=True)#내림차순
for coin in Ai:
   count+=k//coin
   k%=coin
print(count)

6 2560
5000
1000
500
50
10
5
5

colab에선 문제 없는데 백준으로는 틀렸다고 나옴,원인 찾기<br>
백준에서는 n번째줄까지 받으라고 했는데 처음에 split()기준으로 받게 list를 만들어서 오류를 내뱉었음

# ATM

In [ ]:
n=int(input())
times=list(map(int, input().split()))
times.sort()#시간 오름차순 정렬
sum=0#시간 합
for time in times:
  sum+=time*n
  n-=1
print(sum)

# Conference room assignment백준 1931

In [ ]:
N = int(input())
time = []

for _ in range(N):
  start, end = map(int, input().split())
  time.append([start, end])

time = sorted(time, key=lambda a: a[0]) # 시작 시간을 기준으로 오름차순
time = sorted(time, key=lambda a: a[1]) # 끝나는 시간을 기준으로 다시 오름차순

last = 0 # 회의의 마지막 시간을 저장할 변수
conut = 0 # 회의 개수를 저장할 변수

for i, j in time:
  if i >= last: # 시작시간이 회의의 마지막 시간보다 크거나 같을경우
    conut += 1
    last = j

print(conut)

7
1 0
0 2
1 3
4 6
2 5
3 4
4 5
4

문제를 푸는 아이디어는 알지만 구현에서 어려움을 겪음
1. range(N)을 쓰지 않아 loop가 잘 안돌아감
2. start,end를 어떻게 정렬시킬지 감이 안 잡혔음. 한줄함수인 lambda function으로 정렬하는 방식을 잘 기억해야한다. 
3. 적재적소에 어떤 데이터타입을 쓸지 알아야함. 특징만 아는게 아니라 구현할 수 있을 정도의 연습이 필요해 보임.

#Exam Director

colab으로는 문제가 없는데 백준에서는 런타임 에러가 나타남. 확인해볼 필요가 있음.

In [ ]:
n=int(input()) #시험장 수
Ai=[]
count=0
for _ in range(n):
  Ai.append(int(input()))
b,c=map(int, input().split())
for i in range(n):
  for j in range(max(Ai)):
    if (b+c*j)>=Ai[i] and ((b+c*j)-Ai[i])<c:
      count+=(1+j)
print(count)

3
3
4
5
2 2
7

답지

In [ ]:
n = int(input())

a = list(map(int, input().split()))

b, c = map(int, input().split())

result = 0


# 2. 계산
for student in a:
    student = student - b
    result += 1

    if student > 0:
        result += student // c

        if student % c > 0:
            result += 1


print(result)

#30

1차 풀이

In [ ]:
#n=input()
#number=[]
#for i in (n):
 # number.append(i)
  #print(number)

#if '0' in number and sum(int(number))%3==0:#문제점:리스트전체를 int 형태로 바꾸는 것은 불가능. 리스트의 각 원소를 받아와서 바꾸는 것은 가능하다. 
  #n=sorted(n,reverse=True)
  #print(n)
#else:
 # print(-1)

2차풀이

In [ ]:
n=input()
number=[]
for i in (n):
  number.append(i)
sum=0
for i in range(len(n)):
        sum += int(n[i])
if '0' in number and sum%3==0:
  n=sorted(n,reverse=True)
  answer="".join(n)
  print(answer)
else:
  print(-1)

9133805
-1

개선점: 
1. list전체를 int형태로 저장하는 것은 불가능하므로 인덱스 기능을 이용해야 한다는 사실을 기억하자. 
2. reverse True기능을 이용하면 오름차순으로 정렬된다는 것을 까먹지 말자.
3. join함수에 대해서 더 공부하자.

답지

In [ ]:
# 10610번

n = input()

if "0" not in n:
    print(-1)

else:
    num_sum = 0
    for i in range(len(n)):
        num_sum += int(n[i])

    if num_sum % 3 != 0:
        print(-1)
    
    else:
        sorted_num = sorted(n, reverse=True)
        answer = "".join(sorted_num)
        print(answer)

# competition or intern

1차 풀이

In [ ]:
n,m,k=map(int, input().split())
count=0
for _ in range(n):
     total=n+m
     if n>0 and m>0 and total>=2*k:
        n-=2
        m-=1
        count+=1
print(count)

6 3 2
2

문제점:오류인 케이스 존재가능<br>total값만 맞추지 말고 n,m도 고려했어야 한다.

In [ ]:
n, m, k = map(int, input().split())	# n 여학생 수, m 남학생 수, k 인턴쉽 학생 수
result = 0

while n >= 2 and m >= 1 and n + m >= k + 3:	# 2명 , 1명 팀 만들 수 있고, 인턴쉽도 보낼 수 있는 수 일때
    n -= 2	# 빼주고
    m -= 1	# 빼주고
    result += 1	# 팀 수는 하나씩 더해준다
print(result)

#everybody's marble

In [ ]:
n=int(input())
Li=list(map(int, input().split()))
Li.sort(reverse=True)
s=0
for j in range(1,n):
    s+=(Li[0]+Li[j])
print(s)

3
30 40 50
170

#Camping

백준에서는 틀렸다고 하는데 이유를 모르겠음...

In [ ]:
l,p,v=map(int, input().split())
count=(v//p)*l+v%p
print(count)

#Missing bracket

-기준으로 괄호를 치면 된다는 아이디어를 떠올려야 한다!<br>다시풀기!

In [ ]:
arr = input().split('-')
s = 0
for i in arr[0].split('+'):
    s += int(i)
for i in arr[1:]:
    for j in i.split('+'):
        s -= int(j)
print(s)

33-30
3

#New Recruit

질문하기...

In [ ]:
t=int(input())
n=int(input())
grade=[]
count=0
for i in range(n):
  Paper, Interview = map(int,input().split())
  grade.append([Paper, Interview])
grade = sorted(grade, key=lambda a: a[0]) 
grade = sorted(grade, key=lambda a: a[1])
for i,j in grade:
  if i==min(grade[Paper]):
    count+=1
  if i!=min(grade[Paper]) and j==min(grade[Interview]):
    count+=1
print(count)

2
3
4 1
2 3
1 2
1

#Classroom

내일 다시 접근해보기

In [ ]:
N = int(input())
time = []

for _ in range(N):
  start, end = map(int, input().split())
  time.append([start, end])
time = sorted(time, key=lambda a: a[0]) # 시작 시간을 기준으로 오름차순
time = sorted(time, key=lambda a: a[1]) # 끝나는 시간을 기준으로 다시 오름차순

#rope

w = min( 병렬 연결된 로프의 중량 ) * 병렬 연결된 로프의 수라는 아이디어를 떠올리는 것이 중요하다. 
그리고 n개의 case를 따져볼려고 하는 것도 중요

In [ ]:
n=int(input())
rope=[]
value=[]
for i in range(n):
  rope.append(int(input()))
rope.sort(reverse=True)
for num in range(n):
  value.append(rope[num]*(num+1))
print(max(value))

3
10
15
20
30